{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/guineapigs/guineapig-detail.css' %}"
/>
<script defer src="{% static 'js/guineapig-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="guineapig-container">
  <div class="guineapig-img">
    <img 
      src="{% static 'images/'|add:guineapig.breed|add:'.png' %}" 
      alt="A guinea pig"
    >
  </div>
  <div class="guineapig-details">
    <h1>{{ guineapig.name }}</h1>
    {% if guineapig.age > 0 %}
      <h2>A {{ guineapig.age }} year old {{ guineapig.breed }} pig</h2>
    {% else %}
      <h2>A {{ guineapig.breed }} pup.</h2>
    {% endif %}
    <p>{{ guineapig.description }}</p>
    <div class="guineapig-actions">
      <a href="{% url 'guineapig_update' guineapig.id %}" class="btn warn">Edit</a>
      <a href="{% url 'guineapig_delete' guineapig.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="feedings-accessory-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img 
        src="{% static 'images/broccoli.png' %}" 
        alt="A happy broccoli"
      />
      <img 
        src="{% static 'images/carrot.png' %}"
        alt="A happy carrot"
      />
      <img 
        src="{% static 'images/bellpepper.png' %}" 
        alt="A happy bell pepper"
      />
    </div>
    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add_feeding' guineapig.id %}"
      method="POST" 
      class="subsection-content"
    >
      {% if guineapig.fed_for_today %}
        <p class="fed">{{guineapig.name}} has been fed all their meals for today!</p>
      {% else %}
        <p class="unfed">{{guineapig.name}} might be hungry!</p>
      {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
    {% if guineapig.feeding_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Meal</th></tr>
        </thead>
        <tbody>
          {% for feeding in guineapig.feeding_set.all %}
            <tr>
              <td>{{feeding.date}}</td>
              <td>{{feeding.get_meal_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <p>{{guineapig.name}} has never been fed 😮</p>
      </div>
    {% endif %}
  </section>
  <section class="accessories">
    <div class="subsection-title">
      <h2>Accessories</h2>
      <img src="{% static 'images/santa.png' %}" alt="A Santa pig" />
      <img src="{% static 'images/santa.png' %}" alt="A Santa pig" />
      <img src="{% static 'images/santa.png' %}" alt="A Santa pig" />
    </div>
    <h3>{{ guineapig.name }}'s Accessories</h3>
    <div class="subsection-content">
      {% if guineapig.accessories.count %}
        {% for accessory in guineapig.accessories.all %}
          <div class="accessory-container">
            <div 
              class="color-block"
              style="background-color: {{ accessory.color }}"
            ></div>
            <a href="{% url 'accessories_detail' accessory.id %}">
              <p>A {{ accessory.color }} {{ accessory.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-accessories">{{guineapig.name}} doesn't have any accessories 😞</p>
      {% endif %}
    </div>
    <h3>Available Accessories</h3>
    <div class="subsection-content">
      {% if accessories.count %}
        {% for accessory in accessories.all %}
          <div class="accessory-container">
            <div 
              class="color-block"
              style="background-color: {{ accessory.color }}"
            ></div>
            <a href="{% url 'accessories_detail' accessory.id %}">
              <p>A {{ accessory.color }} {{ accessory.name }}</p>
            </a>
            <form action="{% url 'assoc_accessory' guineapig.id accessory.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give accessory</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-accessories">
          {{guineapig.name}} already has all the available accessories 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}