{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/guineapigs/guineapig-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Guinea Pig List</h1>
  <img src="{% static 'images/american.png' %}" alt="smooth guinea" />
  <img src="{% static 'images/peruvian.png' %}" alt="long guinea" />
  <img src="{% static 'images/abyssinian.png' %}" alt="fuzzy guinea" />
  <img src="{% static 'images/teddy.png' %}" alt="scratchy guinea" />
</section>

<section class="card-container">
  {% for guineapig in guineapigs %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/'|add:guineapig.breed|add:'.png' %}" 
            alt="A guinea pig"
          >
        </div>
        <h2 class="card-title">{{ guineapig.name }}</h2>
        {% if guineapig.age > 0 %}
          <p>A {{ guineapig.age }} year old {{ guineapig.breed }} pig</p>
        {% else %}
          <p>A {{ guineapig.breed }} pup.</p>
        {% endif %}
        <p><small>{{ guineapig.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}